.header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../../img/header.jpg');
}

.header .menu {
  width: 80%;
  margin: 0 auto;
}
