.Header {
  text-align: center;
  width: 100%;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
}

nav.navbar-default {
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    padding-top: 10px;
}

.navbar-nav a {
    color: #fff !important;
    transition: color 0.3s;
}

.navbar-nav .active a {
    background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #00d1f5 !important;
}